.social {
	display: block;
	padding-left: 45%;
	width: 100%;
}
.copyright {
	text-align:center;
	padding-top:24px;
	padding-bottom:17px;
	color: gray;
	font-size:13px;
	margin-bottom:0;
}

.f-container {
	padding-top:40px;
}
.f-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom:40px;  
}

.f-c1 {
  padding-left: 40px;
  flex-basis: 500px;
}
.f-c2 {
  flex-basis: 200px;
}
.f-c3 {
  flex-basis: 500px;
}